h1 {
    color: red;
}

body {
    background: #22222C;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}


a {
    color: white;
    text-decoration: none;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: content-box;
}

label {
    width: 150px;
    margin: auto;
    display: block;

}

/*----------------------*/
.centeredContentWrapper {
    margin: auto auto 50px auto;
    color: white;
    width: 500px;
    text-align: center;
}

.formLogin {
    text-align: center;
    justify-content: center;
}


.radek {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.radioRadekLogin label {
    justify-content: center;
    text-align: center;
}

/* Styl pro radio buttony a labely */
.radio-group {
    display: flex;
    flex-direction: column; /* Uspořádání pod sebou */
}

.radio-group label {
    margin-bottom: 8px; /* Odstup mezi labely */
}

/* Styl pro radio buttony */
.radio-group input[type="radio"] {
    margin-right: 4px; /* Odstup mezi radio buttony */
}

#radioRadekLoginRow {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

/*----------------------*/
.profilWrapper {
    margin: auto auto 50px auto;
    color: white;
    width: 500px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profilPolozka {
    margin: 25px;
    width: auto;
}

.profilPolozka label:hover {
    cursor: pointer;
}

.radekNovaZprava {
    display: flex;
    margin: 0 10px 0 10px;
}

.radekVysledekNovaZprava {
    display: flex;
    margin: 0 10px 0 10px;
}

.radekVysledekNovaZprava input {
    width: 40px;
}

.radekNovaZprava input {
    height: auto;
    width: 10%;
}

.invalid-input {
    background: #CC0202;
    color:white;
}

.radekKategorie {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.radekKategorie label {
    width: auto;
    margin: auto;
    text-align: left;
}

.radekKategorie select {
    margin-right: 10px;
    width: auto;
}

.vlastnosti {
    text-align: center;
    width: 100%;
}

.vlastnosti select {
    width: 90%;
    text-overflow: ellipsis; /* Zobrazení elipsy pro přebytečný text */
}

.kladyZapory {
    display: flex;
    justify-content: space-between;
    margin: 10px 18px 10px 10px;
}

.vlastnosti option {
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left;
    width: 50%;
}

.idFacrNovaZprava{
    display:none;
}

.custom-btn {
    width: 130px;
    height: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
}

.btn-1:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgb(0, 17, 255) 0%, rgba(2,126,251,1) 100%);
}

.listaDiv {
    margin-right: 10px;
    margin-left: 10px;
    position: sticky;
}

.sipkaDiv{
    margin-right: 12px;
    width: 20px;
    height: 20px;
}

.sipkaDivHlavni{
    width: 20px;
    height: 20px;
}

.sipkaDivHlavni img{
    width: 20px;
    height: 20px;
}

.sipkaDiv img{
    width: 20px;
    height: 20px;
}

/*----------------------*/
#udajeHeader {
    margin: auto;
    width: 500px;
    text-align: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: flex;
}

.logoutHeader {
    width: auto;
}

.logoutHeader label {
    width: auto;
}

.logoutHeader label:hover {
    cursor: pointer;
}

/*----------------------*/
.infoProfilWrapper {
    margin: 20px auto 50px auto;
    width: 500px;
}

.infoProfilPolozka {
    width: 500px;
    justify-content: space-between;
    /*border: 1px solid yellow;*/
    text-align: left;
    flex-wrap: nowrap;
    display: flex;
    margin: 10px;
}


.infoProfilPolozka label {
    width: 200px;
}


.sticky-element {
    position: sticky;
    padding: 5px;
    z-index:1000;
    background: #22222C;
    top: 0;
    font-size: 25px;
}

.sticky-element_rozhodci {
    position: sticky;
    z-index:9999;
    background: #22222C;
    padding-top: 5px;
}

/*----------------------*/
.novaZpravaWrapper {
    margin: 20px auto 50px auto;
    width: 500px;
    border: 1px solid yellow;
}

.novaZprava {
    text-align: center;
    margin-bottom: 10px;
}

.novaZprava input {
    text-align: center;
    width: 30%;
    padding: 10px;
    box-sizing: content-box;
}

.radekNovaZpravaRozhodci {
    display: flex;
    margin: 0 10px 0 10px;
}

.radekNovaZpravaRozhodci label{
    margin-right: 15px;
}

.radekNovaZpravaRozhodci input {
    text-align: left;
    width: 70%;
    padding: 10px;
    box-sizing: content-box;
    margin-right: 35px;
}

.utkaniNovaZprava {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.utkaniNovaZprava label {
    width: auto;
}

.style_description {
    text-align: justify;
    border-top: 7px solid;
    border-image-slice: 0.5;
    border-image-source: radial-gradient(white 75%, #22222C 85%);
    width: 100%;
    margin-bottom: 5px;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}
table input {
    width: 140px;
}

table input[type="number"]{
    width: 40px;
}

input:disabled {
    background-color: white;
    color: black;
}

table select{
    width: 75px;
}




/* CSS */
.button-48 {
    appearance: none;
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin-left: 20px;
    opacity: 1;
    outline: 0;
    padding: 0.6em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #EBEBEB;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    background-color: #FFFFFF;
}

.button-48 span {
    z-index: 1;
    position: relative;
}