<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKFS – Menu</title>
    <link rel="icon" type="image/x-icon" th:href="@{/css/img/logo-skfs.png}">
    <link rel="stylesheet" th:href="@{/css/theme.css}"/>
</head>
<body>
<div id="udajeHeader">
    <a th:href="@{/menu}"><img height="62" width="44" th:src="@{/css/img/logo-facr.png}"/></a>
    <div>
        <label th:text="${clen.jmeno + ' ' + clen.prijmeni}"></label>
        <label th:text="${'ID: ' + clen.idFacr}"></label>
        <label th:text="${'Role: ' + clen.role}"></label>
    </div>
    <a th:href="@{/menu}"><img height="62" width="39" th:src="@{/css/img/logo-skfs.png}"/></a>
</div>
<div class="profilWrapper">
    <div class="profilPolozka" th:if="${clen.role == 'Delegát'}">
        <a th:href="@{/nova_zprava/new}">
            <div>
                <img height="80" width="80" th:src="@{/css/img/create_icon.jpg}"/>
                <label>Nová zpráva</label>
            </div>
        </a>
    </div>
    <div class="profilPolozka" th:if="${clen.role == 'Delegát' && maRozpracovane}">
        <a th:href="@{/rozpracovane}">
            <div>
                <img height="80" width="80" th:src="@{/css/img/edit_icon.png}"/>
                <label>Rozpracované</label>
            </div>
        </a>
    </div>
    <div class="profilPolozka" th:if="${clen.role != 'Admin'}">
        <a th:href="@{/posudky}">
            <div>
                <img height="80" width="80" th:src="@{/css/img/list_icon.png}"/>
                <label>Moje posudky</label>
            </div>
        </a>
    </div>
    <div class="profilPolozka" th:if="${clen.role == 'Admin'}">
        <a th:href="@{/admin_posudky}">
            <div>
                <img height="80" width="80" th:src="@{/css/img/list_icon.png}"/>
                <label>Přehled posudků</label>
            </div>
        </a>
    </div>
    <div class="profilPolozka" th:if="${clen.role == 'Admin'}">
        <a th:href="@{/delegati}">
            <div>
                <img height="80" width="80" th:src="@{/css/img/delegate_icon.png}"/>
                <label>Přehled delegátů</label>
            </div>
        </a>
    </div>
    <div class="profilPolozka" th:if="${clen.role == 'Admin'}">
        <a th:href="@{/rozhodci}">
            <div>
                <img height="80" width="80" th:src="@{/css/img/ref_icon.png}"/>
                <label>Přehled rozhodčích</label>
            </div>
        </a>
    </div>
    <div class="profilPolozka">
        <a th:href="@{/muj_profil}">
            <div>
                <img height="80" width="80" th:src="@{/css/img/profil_icon.png}"/>
                <label>Profil</label>

            </div>
        </a>
    </div>
    <div class="profilPolozka">
        <a th:href="@{/odhlasit}">
            <div>
                <img height="80" width="80" th:src="@{/css/img/logout_icon.png}"/>
                <label>Odhlásit</label>
            </div>
        </a>
    </div>
</div>
</body>
</html>