<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKFS – posudek</title>
    <link rel="icon" type="image/x-icon" th:href="@{/css/img/logo-skfs.png}">
    <link rel="stylesheet" th:href="@{/css/theme.css}"/>
    <script th:src="@{/javascript/nova_zprava.js}" th:defer="defer"></script>
</head>
<body>
<div id="udajeHeader">
    <a th:href="@{/menu}"><img height="62" width="44" th:src="@{/css/img/logo-facr.png}"/></a>
    <a th:href="@{/menu}"><img height="62" width="39" th:src="@{/css/img/logo-skfs.png}"/></a>
    <div class="logoutHeader">
        <a th:href="@{/odhlasit}">
            <div>
                <img height="40" width="40" th:src="@{/css/img/logout_icon.png}"/>
                <label>Odhlásit</label>
            </div>
        </a>
    </div>
</div>
<div class="novaZpravaWrapper" th:object="${kompletniZprava}">
    <div th:id="zpravaBody">
        <div th:id="utkaniBlok">
            <div class="utkaniNovaZprava">
                <label th:text="*{soutez.soutez}"></label>
                <label th:text="*{utkani.kolo + '. kolo'}"></label>
                <label th:text="*{soutez.kategorie}"></label>
            </div>
            <div class="style_description"></div>
            <div class="utkaniNovaZprava">
                <label>Domácí:</label>
                <label>Hosté:</label>
            </div>
            <div class="utkaniNovaZprava">
                <label th:text="*{utkani.domaci}"></label>
                <label th:text="*{utkani.hoste}"></label>
            </div>
            <div class="style_description"></div>
            <div class="utkaniNovaZprava">
                <div class="radekNovaZprava">
                    <label style="margin-right: 5px">Datum: </label>
                    <label th:text="${kompletniZprava.utkani.datum != null ?
                    kompletniZprava.utkani.datum?.getDay() + '. '
                 + kompletniZprava.utkani.datum?.getMonth()
                + '. ' + (kompletniZprava.utkani.datum?.getYear() + 1900) : ''}"></label>
                </div>
                <div class="radekNovaZprava">
                    <label style="margin-right: 5px">Začátek utkání:</label>
                    <label th:text="${kompletniZprava.utkani.datum != null ?
                     kompletniZprava.utkani.datum?.getHours() + ':'
                 + kompletniZprava.utkani.minutyDvojciferne() : ''}"></label>
                </div>
            </div>
            <div class="utkaniNovaZprava">
                <div class="radekNovaZprava">
                    <label style="margin-right: 5px">Stadion: </label>
                    <label th:text="*{utkani.stadion}"></label>
                </div>
            </div>
            <div class="style_description"></div>
            <div class="utkaniNovaZprava">
                <div class="radekNovaZprava">
                    <label style="margin-right: 5px">Doba hry (1. | 2. poločas):</label>
                    <label style="margin-right: 5px">45 +</label>
                    <label style="margin-right: 15px" th:name="nastaveniPrvniPolocas"
                           th:text="*{zprava.nastaveniPrvniPolocas}"></label>
                    <label style="margin-right: 5px">45 +</label>
                    <label th:name="nastaveniDruhyPolocas"
                           th:text="*{zprava.nastaveniDruhyPolocas}"></label>
                </div>
            </div>
            <div class="style_description"></div>
            <div class="utkaniNovaZprava">
                <div class="radekVysledekNovaZprava">
                    <label style="margin-right: 5px">Poločas:</label>
                    <label th:id="polocas"
                           th:name="polocas" pattern="\d+:\d+" th:text="*{zprava.polocas}"></label>
                    <label style="margin-right: 5px; margin-left: 30px">Výsledek:</label>
                    <label th:name="vysledek" th:text="*{zprava.vysledek}"></label>
                </div>
            </div>
            <div class="style_description"></div>
            <table>
                <tbody>
                <tr>
                    <td id="idR" th:text="*{r.id}" style="display: none"></td>
                    <td>R:</td>
                    <td>
                        <label th:width="auto" id="jmenoR"
                               th:id="jmenoR"
                               class="posudek_rozhodci_label"
                               onclick="prejdiNaProfilClena('idR')"
                               th:text="${(kompletniZprava.r.jmeno!= null &&
                                kompletniZprava.r.prijmeni!= null) ?
                                kompletniZprava.r.prijmeni + ' ' +
                                 kompletniZprava.r.jmeno : ''}"></label></td>
                    <td style="width: 100px">
                        <label style="width: auto" th:text="*{r.idFacr}" id="idFacrR"></label>
                    </td>
                    <td><label style="width: auto"
                               th:text="*{hodnoceniR.znamka}"></label>
                    </td>
                    <td>
                        <label style="width: auto" th:text="*{hodnoceniR.obtiznost}"></label>
                    </td>
                </tr>
                <tr th:style="${kompletniZprava.hodnoceniR.znamka != null &&
                            (kompletniZprava.hodnoceniR.znamka == '7.8' ||
                             kompletniZprava.hodnoceniR.znamka == '7.9') ?
                                'display:table-row;' : 'display:none;'}" th:id="znamkaRHCHRadek">
                    <td></td>
                    <td></td>
                    <td style="text-align: right">*</td>
                    <td>
                        <label style="width: auto" th:id="znamkaRHCH" th:name="znamkaRHCH"
                               th:text="*{hodnoceniR.znamka2}"></label>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td id="idAr1" th:text="*{ar1.id}" style="display: none"></td>
                    <td>AR1:</td>
                    <td><label id="jmenoAR1" th:id="jmenoAR1"
                               class="posudek_rozhodci_label"
                               onclick="prejdiNaProfilClena('idAr1')"
                               th:text="${(kompletniZprava.ar1.jmeno!= null &&
                                kompletniZprava.ar1.prijmeni!= null) ?
                                kompletniZprava.ar1.prijmeni + ' ' +
                                 kompletniZprava.ar1.jmeno : ''}"></label></td>
                    <td>
                        <label style="width: auto" th:text="*{ar1.idFacr}" id="idFacrAR1"></label>
                    </td>
                    <td><label style="width: auto"
                               th:text="*{hodnoceniAR1.znamka}"></label>
                    </td>
                    <td>
                        <label style="width: auto" th:text="*{hodnoceniAR1.obtiznost}"></label>
                    </td>
                </tr>
                <tr th:style="${kompletniZprava.hodnoceniAR1.znamka != null &&
                            (kompletniZprava.hodnoceniAR1.znamka == '7.8' ||
                             kompletniZprava.hodnoceniAR1.znamka == '7.9') ?
                                'display:table-row;' : 'display:none;'}" th:id="znamkaAR1HCHRadek">
                    <td></td>
                    <td></td>
                    <td style="text-align: right">*</td>
                    <td>
                        <label style="width: auto" th:id="znamkaAR1HCH" th:name="znamkaAR1HCH"
                               th:text="*{hodnoceniAR1.znamka2}"></label>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td id="idAr2" th:text="*{ar2.id}" style="display: none"></td>
                    <td>AR2:</td>
                    <td><label id="jmenoAR2"
                               th:type="text" th:id="jmenoAR2"
                               class="posudek_rozhodci_label"
                               onclick="prejdiNaProfilClena('idAr2')"
                               th:text="${(kompletniZprava.ar2.jmeno!= null &&
                                kompletniZprava.ar2.prijmeni!= null) ?
                                kompletniZprava.ar2.prijmeni + ' ' +
                                 kompletniZprava.ar2.jmeno : ''}"></label></td>
                    <td>
                        <label style="width: auto" th:text="*{ar2.idFacr}" id="idFacrAR2"></label>
                    </td>
                    <td>
                        <label style="width: auto"
                               th:text="*{hodnoceniAR2.znamka}"></label>
                    </td>
                    <td><label style="width: auto" th:text="*{hodnoceniAR2.obtiznost}"></label></td>
                </tr>
                <tr th:style="${kompletniZprava.hodnoceniAR2.znamka != null &&
                            (kompletniZprava.hodnoceniAR2.znamka == '7.8' ||
                             kompletniZprava.hodnoceniAR2.znamka == '7.9') ?
                                'display:table-row;' : 'display:none;'}"
                    th:id="znamkaAR2HCHRadek">
                    <td></td>
                    <td></td>
                    <td style="text-align: right">*</td>
                    <td>
                        <label style="width: auto" th:id="znamkaAR2HCH" th:name="znamkaAR2HCH"
                               th:text="*{hodnoceniAR2.znamka2}"></label>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td id="idDfa" th:text="*{dfa.id}" style="display: none"></td>
                    <td>DFA:</td>
                    <td><label id="jmenoDFA" th:id="jmenoDFA"
                               class="posudek_rozhodci_label"
                               onclick="prejdiNaProfilClena('idDfa')"
                               th:text="*{dfa.prijmeni + ' ' + dfa.jmeno}"></label></td>
                    <td th:text="*{dfa.idFacr}"></td>
                </tr>
                <tr>
                    <td>TD:</td>
                    <td><label id="jmenoTD"
                               th:id="jmenoTD"

                               th:text="${(kompletniZprava.td.jmeno!= null &&
                                kompletniZprava.td.prijmeni!= null) ?
                                kompletniZprava.td.prijmeni + ' ' +
                                 kompletniZprava.td.jmeno : ''}"></label></td>
                    <td>
                        <label style="width: auto" th:text="*{td.idFacr}" id="idFacrTD"></label>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="style_description"></div>

        </div>
        <div class="sticky-element">
            <div style="display: flex;justify-content: space-between">
                <div style="text-align: left" class="novaZprava">
                    <button type="button" class="button-48" role="button" onclick="topFunction()"><span
                            class="text">↑</span></button>
                </div>
            </div>
        </div>
        <div class="style_description"></div>
        <div class="sticky-element_rozhodci" style="top: 45px; background: #31313a">
            <div class="radekKategorie" th:id="listaR">
                <div class="listaDiv"><label style="width:40px">R:</label></div>
                <div class="listaDiv"><label th:text="${(kompletniZprava.r.jmeno!= null &&
                                kompletniZprava.r.prijmeni!= null) ?
                                kompletniZprava.r.prijmeni + ' ' +
                                 kompletniZprava.r.jmeno + ' (' + kompletniZprava.r.idFacr + ')' : ''}"
                                             th:id="listaRJmeno"></label></div>
                <div class="sipkaDivHlavni" th:id="sipkaR">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
        </div>
        <div th:id="blokR" style="background: #31313a">
            <div class="radekKategorie" th:id="listaR1">
                <div class="listaDiv">
                    <label>1) Aplikace a interpretace pravidel fotbalu, taktika řízení utkání:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaR1">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokR1">
                <div class="radekKategorie">
                    <div style="margin: auto 0 auto 10px">Celková známka:</div>
                    <div style="margin-right: 10px">
                        <label th:id="znamkaPF"
                               th:text="*{hodnoceniR.hodnoceniPopisList[0].celkovaZnamka}">
                        </label>
                    </div>
                </div>
                <div class="radekKategorie">
                    <div class="vlastnosti"><select style="display: none" th:id="vlastnostiPFSelect">
                        <option class="vlastnosti" th:each="vlastnost : ${vlastnostiListPF}"
                                th:value="${vlastnost.id}"
                                th:text="${vlastnost.popis}"></option>
                    </select>
                        <div class="kladyZapory" style="display: none">
                            <div th:id="pridatZaporPF" class="custom-btn btn-1">-
                            </div>
                            <div th:id="pridatKladPF" class="custom-btn btn-1">+
                            </div>
                        </div>
                        <div th:id="kladyZaporyPFDiv">
                            <input style="display: none" th:id="kladyZaporyPFInputHidden"
                                   th:field="*{hodnoceniR.hodnoceniPopisList[0].hodnoceniVlastnostInputString}">
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:field="*{hodnoceniR.hodnoceniPopisList[0].popis}"
                              th:id="popisPF" style="flex: 1"></textarea>
                </div>
            </div>
            <div class="radekKategorie" style="background: #3d3d48" th:id="listaR2">
                <div class="listaDiv"><label>2) Disciplinární opatření, zvládání hráčů a funkcionářů
                    družstev:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaR2">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokR2" style="background: #3d3d48">
                <div class="radekKategorie">
                    <div style="margin: auto 0 auto 10px">Celková známka:</div>
                    <div style="margin-right: 10px">
                        <label
                                th:id="znamkaOT" th:text="*{hodnoceniR.hodnoceniPopisList[1].celkovaZnamka}">
                        </label>
                        </label></div>
                </div>
                <div class="radekKategorie">
                    <div class="vlastnosti"><select style="display: none" th:id="vlastnostiOTSelect">
                        <option class="vlastnosti" th:each="vlastnost : ${vlastnostiListOT}"
                                th:value="${vlastnost.id}"
                                th:text="${vlastnost.popis}"></option>
                    </select>
                        <div style="display: none" class="kladyZapory">
                            <div th:id="pridatZaporOT" class="custom-btn btn-1">-
                            </div>
                            <div th:id="pridatKladOT" class="custom-btn btn-1">+
                            </div>
                        </div>
                        <div th:id="kladyZaporyOTDiv">
                            <input style="display: none" th:id="kladyZaporyOTInputHidden"
                                   th:field="*{hodnoceniR.hodnoceniPopisList[1].hodnoceniVlastnostInputString}">
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisOT" th:field="*{hodnoceniR.hodnoceniPopisList[1].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
            <div class="radekKategorie" th:id="listaR3" style="background: #3b444a">
                <div class="listaDiv"><label>3) Pohyb a poziční postavení:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaR3">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokR3" style="background: #3b444a">
                <div class="radekKategorie">
                    <div style="margin: auto 0 auto 10px">Celková známka:</div>
                    <div style="margin-right: 10px"><label
                            th:id="znamkaFyzicka"
                            th:text="*{hodnoceniR.hodnoceniPopisList[2].celkovaZnamka}">
                    </label></div>
                </div>
                <div class="radekKategorie">
                    <div class="vlastnosti"><select style="display: none" th:id="vlastnostiFyzickaSelect">
                        <option class="vlastnosti" th:each="vlastnost : ${vlastnostiListFyzicka}"
                                th:value="${vlastnost.id}"
                                th:text="${vlastnost.popis}"></option>
                    </select>
                        <div style="display: none" class="kladyZapory">
                            <div th:id="pridatZaporFyzicka" class="custom-btn btn-1">-
                            </div>
                            <div th:id="pridatKladFyzicka" class="custom-btn btn-1">+
                            </div>
                        </div>
                        <div th:id="kladyZaporyFyzickaDiv">
                            <input style="display: none" th:id="kladyZaporyFyzickaInputHidden"
                                   th:field="*{hodnoceniR.hodnoceniPopisList[2].hodnoceniVlastnostInputString}">
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                        <textarea readonly="readonly" th:id="popisFyzicka" th:field="*{hodnoceniR.hodnoceniPopisList[2].popis}"
                                  style="flex: 1"></textarea>
                </div>
            </div>
            <div class="radekKategorie" th:id="listaR4">
                <div class="listaDiv"><label>4) Osobnost rozhodčího a spolupráce s ostatními rozhodčími:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaR4">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokR4">
                <div class="radekKategorie">
                    <div style="margin: auto 0 auto 10px">Celková známka:</div>
                    <div style="margin-right: 10px"><label
                            th:id="znamkaSpoluprace"
                            th:text="*{hodnoceniR.hodnoceniPopisList[3].celkovaZnamka}">
                    </label></div>
                </div>
                <div class="radekKategorie">
                    <div class="vlastnosti"><select style="display: none" th:id="vlastnostiSpolupraceSelect">
                        <option class="vlastnosti" th:each="vlastnost : ${vlastnostiListSpoluprace}"
                                th:value="${vlastnost.id}"
                                th:text="${vlastnost.popis}"></option>
                    </select>
                        <div style="display: none" class="kladyZapory">
                            <div th:id="pridatZaporSpoluprace" class="custom-btn btn-1">-
                            </div>
                            <div th:id="pridatKladSpoluprace" class="custom-btn btn-1">+
                            </div>
                        </div>
                        <div th:id="kladyZaporySpolupraceDiv">
                            <input style="display: none" th:id="kladyZaporySpolupraceInputHidden"
                                   th:field="*{hodnoceniR.hodnoceniPopisList[3].hodnoceniVlastnostInputString}">
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisSpoluprace" th:field="*{hodnoceniR.hodnoceniPopisList[3].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
        </div>

        <div class="style_description"></div>
        <div class="sticky-element_rozhodci" style="top: 69px; background: #313a32">
            <div class="radekKategorie" th:id="listaAR1">
                <div class="listaDiv"><label style="width:40px">AR1:</label></div>
                <div class="listaDiv"><label th:text="${(kompletniZprava.ar1.jmeno!= null &&
                                kompletniZprava.ar1.prijmeni!= null) ?
                                kompletniZprava.ar1.prijmeni + ' ' +
                                 kompletniZprava.ar1.jmeno + ' (' + kompletniZprava.ar1.idFacr + ')' : ''}"
                                             th:id="listaAR1Jmeno"></label></div>
                <div class="sipkaDivHlavni" th:id="sipkaAR1">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
        </div>
        <div th:id="blokAR1" style="background: #313a32">
            <div class="radekKategorie" th:id="listaAR1_1">
                <div class="listaDiv"><label>1) Aplikace a interpretace pravidel fotbalu, spolupráce s R:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaAR1_1">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokAR1_1">
                <div class="radekKategorie">
                    <div style="margin: auto 0 auto 10px">Celková známka:</div>
                    <div style="margin-right: 10px"><label
                            th:id="znamkaPFAR1"
                            th:text="*{hodnoceniAR1.hodnoceniPopisList[0].celkovaZnamka}">
                    </label></div>
                </div>
                <div class="radekKategorie">
                    <div class="vlastnosti"><select style="display: none" th:id="vlastnostiPFAR1Select">
                        <option class="vlastnosti" th:each="vlastnost : ${vlastnostiListARPF}"
                                th:value="${vlastnost.id}"
                                th:text="${vlastnost.popis}"></option>
                    </select>
                        <div style="display: none" class="kladyZapory">
                            <div th:id="pridatZaporPFAR1" class="custom-btn btn-1">-
                            </div>
                            <div th:id="pridatKladPFAR1" class="custom-btn btn-1">+
                            </div>
                        </div>
                        <div th:id="kladyZaporyPFAR1Div">
                            <input style="display: none" th:id="kladyZaporyPFAR1InputHidden"
                                   th:field="*{hodnoceniAR1.hodnoceniPopisList[0].hodnoceniVlastnostInputString}">
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisPFAR1" th:field="*{hodnoceniAR1.hodnoceniPopisList[0].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
            <div class="radekKategorie" style="background: #3f4a41" th:id="listaAR1_2">
                <div class="listaDiv"><label>2) Pohyb a poziční postavení:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaAR1_2">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokAR1_2" style="background: #3f4a41">
                <div class="radekKategorie">
                    <div style="margin: auto 0 auto 10px">Celková známka:</div>
                    <div style="margin-right: 10px"><label
                            th:id="znamkaPohybAR1"
                            th:text="*{hodnoceniAR1.hodnoceniPopisList[1].celkovaZnamka}">
                    </label></div>
                </div>
                <div class="radekKategorie">
                    <div class="vlastnosti"><select style="display: none" th:id="vlastnostiPohybAR1Select">
                        <option class="vlastnosti" th:each="vlastnost : ${vlastnostiListARPohyb}"
                                th:value="${vlastnost.id}"
                                th:text="${vlastnost.popis}"></option>
                    </select>
                        <div style="display: none" class="kladyZapory">
                            <div th:id="pridatZaporPohybAR1" class="custom-btn btn-1">-
                            </div>
                            <div th:id="pridatKladPohybAR1" class="custom-btn btn-1">+
                            </div>
                        </div>
                        <div th:id="kladyZaporyPohybAR1Div">
                            <input style="display: none" th:id="kladyZaporyPohybAR1InputHidden"
                                   th:field="*{hodnoceniAR1.hodnoceniPopisList[1].hodnoceniVlastnostInputString}">
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisPohybAR1" th:field="*{hodnoceniAR1.hodnoceniPopisList[1].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
        </div>

        <div class="style_description"></div>
        <div class="sticky-element_rozhodci" style="top: 93px; background: #2a4f22">
            <div class="radekKategorie" th:id="listaAR2">
                <div class="listaDiv"><label style="width:40px">AR2:</label></div>
                <div class="listaDiv"><label
                        th:text="${(kompletniZprava.ar2.jmeno!= null &&
                                kompletniZprava.ar2.prijmeni!= null) ?
                                kompletniZprava.ar2.prijmeni + ' ' +
                                 kompletniZprava.ar2.jmeno + ' (' + kompletniZprava.ar2.idFacr + ')' : ''}"
                        th:id="listaAR2Jmeno"></label></div>
                <div class="sipkaDivHlavni" th:id="sipkaAR2">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
        </div>
        <div th:id="blokAR2" style="background: #2a4f22">
            <div class="radekKategorie" th:id="listaAR2_1">
                <div class="listaDiv"><label>1) Aplikace a interpretace pravidel fotbalu, spolupráce s R:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaAR2_1">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokAR2_1">
                <div class="radekKategorie">
                    <div style="margin: auto 0 auto 10px">Celková známka:</div>
                    <div style="margin-right: 10px"><label
                            th:id="znamkaPFAR2"
                            th:text="*{hodnoceniAR2.hodnoceniPopisList[0].celkovaZnamka}">
                    </label></div>
                </div>
                <div class="radekKategorie">
                    <div class="vlastnosti"><select style="display: none" th:id="vlastnostiPFAR2Select">
                        <option class="vlastnosti" th:each="vlastnost : ${vlastnostiListARPF}"
                                th:value="${vlastnost.id}"
                                th:text="${vlastnost.popis}"></option>
                    </select>
                        <div style="display: none" class="kladyZapory">
                            <div th:id="pridatZaporPFAR2" class="custom-btn btn-1">-
                            </div>
                            <div th:id="pridatKladPFAR2" class="custom-btn btn-1">+
                            </div>
                        </div>
                        <div th:id="kladyZaporyPFAR2Div">
                            <input style="display: none" th:id="kladyZaporyPFAR2InputHidden"
                                   th:field="*{hodnoceniAR2.hodnoceniPopisList[0].hodnoceniVlastnostInputString}">

                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisPFAR2" th:field="*{hodnoceniAR2.hodnoceniPopisList[0].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
            <div class="radekKategorie" style="background: #2d560b" th:id="listaAR2_2">
                <div class="listaDiv"><label>2) Pohyb a poziční postavení:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaAR2_2">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokAR2_2" style="background: #2d560b">
                <div class="radekKategorie">
                    <div style="margin: auto 0 auto 10px">Celková známka:</div>
                    <div style="margin-right: 10px"><label
                            th:id="znamkaPohybAR2"
                            th:text="*{hodnoceniAR2.hodnoceniPopisList[1].celkovaZnamka}">
                    </label></option>
                        </select></div>
                </div>
                <div class="radekKategorie">
                    <div class="vlastnosti"><select th:id="vlastnostiPohybAR2Select">
                        <option class="vlastnosti" th:each="vlastnost : ${vlastnostiListARPohyb}"
                                th:value="${vlastnost.id}"
                                th:text="${vlastnost.popis}"></option>
                    </select>
                        <div style="display: none" class="kladyZapory">
                            <div th:id="pridatZaporPohybAR2" class="custom-btn btn-1">-
                            </div>
                            <div th:id="pridatKladPohybAR2" class="custom-btn btn-1">+
                            </div>
                        </div>
                        <div th:id="kladyZaporyPohybAR2Div">
                            <input style="display: none" th:id="kladyZaporyPohybAR2InputHidden"
                                   th:field="*{hodnoceniAR2.hodnoceniPopisList[1].hodnoceniVlastnostInputString}">

                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisPohybAR2" th:field="*{hodnoceniAR2.hodnoceniPopisList[1].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
        </div>

        <div class="style_description"></div>
        <div class="sticky-element_rozhodci" style="top: 117px">
            <div class="radekKategorie" th:id="listaSituace">
                <div class="listaDiv"><label>Popis klíčových herních situací během utkání:</label></div>
                <div class="sipkaDivHlavni" th:id="sipkaSituace">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
        </div>
        <div th:id="blokSituace">
            <div style="margin-left: 10px">Popis:</div>
            <div style="display: flex; margin: 5px 10px 5px 10px">
                <textarea readonly="readonly" th:id="popisSituace" th:field="*{hodnoceniR.hodnoceniPopisList[4].popis}"
                          style="flex: 1"></textarea>
            </div>
        </div>

        <div class="style_description"></div>
        <div class="sticky-element_rozhodci" style="top: 141px">
            <div class="radekKategorie" th:id="listaOstatni">
                <div class="listaDiv"><label>Ostatní:</label></div>
                <div class="sipkaDivHlavni" th:id="sipkaOstatni">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
        </div>
        <div th:id="blokOstatni">
            <div class="radekKategorie" th:id="listaOstatni1">
                <div class="listaDiv"><label>1) Pořadatelé:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaOstatni1">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokOstatni1">
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisPoradatele" th:field="*{hodnoceniR.hodnoceniPopisList[5].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
            <div class="radekKategorie" th:id="listaOstatni2">
                <div class="listaDiv"><label>2) Chování diváků:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaOstatni2">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokOstatni2">
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisDivaci" th:field="*{hodnoceniR.hodnoceniPopisList[6].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
            <div class="radekKategorie" th:id="listaOstatni3">
                <div class="listaDiv"><label>3) Jiné:</label>
                </div>
                <div class="sipkaDiv" th:id="sipkaOstatni3">
                    <img th:src="@{/css/img/arrow.png}"/>
                </div>
            </div>
            <div th:id="blokOstatni3">
                <div style="margin-left: 10px">Popis:</div>
                <div style="display: flex; margin: 5px 10px 5px 10px">
                    <textarea readonly="readonly" th:id="popisJine" th:field="*{hodnoceniR.hodnoceniPopisList[7].popis}"
                              style="flex: 1"></textarea>
                </div>
            </div>
        </div>
        <div class="style_description"></div>
        <div style="text-align: center">
        <button type="button" class="button-48" th:id="posudekVytvoritDocxBtn"
                role="button"><span class="text">Vytvořit zprávu v souboru .DOCX</span></button>
        </div>
    </div>
</div>
</div>
</body>
</html>