<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKFS – profil</title>
    <link rel="icon" type="image/x-icon" th:href="@{/css/img/logo-skfs.png}">
    <link rel="stylesheet" th:href="@{/css/theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/posudky.css}"/>
    <script th:src="@{/javascript/posudky.js}" th:defer="defer"></script>
</head>
<body>
<div id="udajeHeader">
    <a th:href="@{/menu}"><img height="62" width="44" th:src="@{/css/img/logo-facr.png}"/></a>
    <a th:href="@{/menu}"><img height="62" width="39" th:src="@{/css/img/logo-skfs.png}"/></a>
    <div class="logoutHeader">
        <a th:href="@{/odhlasit}">
            <div>
                <img height="40" width="40" th:src="@{/css/img/logout_icon.png}"/>
                <label>Odhlásit</label>
            </div>
        </a>
    </div>
</div>
<div class="infoProfilWrapper">
    <div class="infoProfilPolozka">
        <label>Jméno:</label>
        <label th:text="${clen.jmeno}"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Přijmení:</label>
        <label th:text="${clen.prijmeni}"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Email:</label>
        <label th:text="${clen.email} ?: ''"></label>
    </div>
    <div class="infoProfilPolozka" th:if="${jeOsobniProfil == 1}">
        <button class="button-48" onclick="presunNaZmenuHesla()">
            <span class="text">Změnit heslo</span>
        </button>
    </div>
    <div class="infoProfilPolozka">
        <label>Telefon:</label>
        <label th:text="${clen.telefon} ?: ''"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Jednotka:</label>
        <label th:text="${clen.jednotka} ?: '-'"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Adresa:</label>
        <label th:text="${(clen.ulice ?: '') + ' ' + (clen.mesto ?: '') + ' ' + (clen.psc ?: '')}"></label>
    </div>
    <div th:if="${schovatDetaily == 0}">
        <div class="infoProfilPolozka" style="margin-top: 40px" th:if="${clen.role != 'Admin'}">
            <label>Počet posudků:</label>
            <label th:text="${pocetZprav}"></label>
        </div>
        <div th:if="${clen.role == 'Rozhodčí'}">
            <div class="infoProfilPolozka">
                <label>Nejlepší známka (R):</label>
                <div class="znamkaProfil">
                    <a th:href="'/posudek?idUtkani=' + ${nejlepsiZnamkaR.idUtkani}">
                        <label th:text="${nejlepsiZnamkaR.znamka}"></label>
                    </a>
                </div>
            </div>
            <div class="infoProfilPolozka">
                <label>Nejhorší známka (R):</label>
                <div class="znamkaProfil">
                    <a th:href="'/posudek?idUtkani=' + ${nejhorsiZnamkaR.idUtkani}">
                        <label th:text="${nejhorsiZnamkaR.znamka}"></label>
                    </a>
                </div>
            </div>
            <div class="infoProfilPolozka">
                <label>Nejlepší známka (AR):</label>
                <div class="znamkaProfil">
                    <a th:href="'/posudek?idUtkani=' + ${nejlepsiZnamkaAR.idUtkani}">
                        <label th:text="${nejlepsiZnamkaAR.znamka}"></label>
                    </a>
                </div>
            </div>
            <div class="infoProfilPolozka">
                <label>Nejhorší známka (AR):</label>
                <div class="znamkaProfil">
                    <a th:href="'/posudek?idUtkani=' + ${nejhorsiZnamkaAR.idUtkani}">
                        <label th:text="${nejhorsiZnamkaAR.znamka}"></label>
                    </a>
                </div>
            </div>
            <div class="infoProfilPolozka" style="display: block">
                <label>Nejlepší vlastnosti (R):</label>
                <div th:each="g: ${nejlepsiVlastnostiR}">
                    <div style="background: lightgreen; color: black;
                 border: 2px solid black; border-radius: 25px;
                 padding: 5px;
                width: 75%; text-align: center; margin: 10px auto 10px auto">
                        <label style="width: 90%" th:text="${g.popis}"></label>
                    </div>
                </div>
            </div>
            <div class="infoProfilPolozka" style="display: block;">
                <label>Nejhorší vlastnosti (R):</label>
                <div th:each="g: ${nejhorsiVlastnostiR}">
                    <div style="background: red; color: white;
                 border: 2px solid white; border-radius: 25px;
                 padding: 5px;
                width: 75%; text-align: center; margin: 10px auto 10px auto">
                        <label th:text="${g.popis}" style="width: 90%"></label>
                    </div>
                </div>
            </div>
            <div class="infoProfilPolozka" style="display: block">
                <label>Nejlepší vlastnosti (AR):</label>
                <div th:each="g: ${nejlepsiVlastnostiAR}">
                    <div style="background: lightgreen; color: black;
                 border: 2px solid black; border-radius: 25px;
                 padding: 5px;
                width: 75%; text-align: center; margin: 10px auto 10px auto">
                        <label style="width: 90%" th:text="${g.popis}"></label>
                    </div>
                </div>
            </div>
            <div class="infoProfilPolozka" style="display: block">
                <label>Nejhorší vlastnosti (AR):</label>
                <div th:each="g: ${nejhorsiVlastnostiAR}">
                    <div style="background: red; color: white;
                 border: 2px solid white; border-radius: 25px;
                 padding: 5px;
                width: 75%; text-align: center; margin: 10px auto 10px auto">
                        <label style="width: 90%" th:text="${g.popis}"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="button-48" onclick="vratSeNaPredchoziStranku()">
        <span class="text">Zpět</span>
    </button>
</div>
</body>
</html>