<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKFS – profil</title>
    <link rel="icon" type="image/x-icon" th:href="@{/css/img/logo-skfs.png}">
    <link rel="stylesheet" th:href="@{/css/theme.css}"/>
</head>
<body>
<div id="udajeHeader">
    <a th:href="@{/menu}"><img height="62" width="44" th:src="@{/css/img/logo-facr.png}"/></a>
    <a th:href="@{/menu}"><img height="62" width="39" th:src="@{/css/img/logo-skfs.png}"/></a>
    <div class="logoutHeader">
        <a th:href="@{/odhlasit}">
            <div>
                <img height="40" width="40" th:src="@{/css/img/logout_icon.png}"/>
                <label>Odhlásit</label>
            </div>
        </a>
    </div>
</div>
<div class="infoProfilWrapper">
    <div class="infoProfilPolozka">
        <label>Jméno:</label>
        <label th:text="${clen.jmeno}"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Přijmení:</label>
        <label th:text="${clen.prijmeni}"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Email:</label>
        <label th:text="${clen.email} ?: ''"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Telefon:</label>
        <label th:text="${clen.telefon} ?: ''"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Jednotka:</label>
        <label th:text="${clen.jednotka} ?: '-'"></label>
    </div>
    <div class="infoProfilPolozka">
        <label>Adresa:</label>
        <label th:text="${(clen.ulice ?: '') + ' ' + (clen.mesto ?: '') + ' ' + (clen.psc ?: '')}"></label>
    </div>
    <div class="infoProfilPolozka" style="margin-top: 40px">
        <label>Počet zpráv:</label>
        <label>0</label>
    </div>
    <a th:href="@{/menu}">
        <button method="post">Zpět</button>
    </a>
</div>
</div>
</body>
</html>